modules = ["python-3.12", "web"]
run = "python ./zymosoft_assistant/main.py"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[deployment]
run = ["sh", "-c", "cd zymosoft_assistant" ,"python main.py"]

[workflows]
runButton = "Run ZymDeploy"

[[workflows.workflow]]
name = "Run ZymDeploy"
author = 43514061
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python ./zymosoft_assistant/main.py"
