# Requirements for ZymDeploy
# NumPy 1.x is required for compatibility with existing modules
numpy<2.0.0
pandas~=2.2.2
matplotlib~=3.9.2
opencv-python
scikit-learn
scipy
pillow~=10.4.0
jinja2~=3.1.4
pefile
jinja2
pyqt5>=5.15.11
reportlab>=4.4.2
pefile>=2023.2.7